<!DOCTYPE html>
<html lang="kr">
<head>
	<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
	<title>Nomard Coin</title>
</head>

<body>
	<header>
		<h1>{{.PageTitle}}</h1>
	</header>
	
	<main>
		{{range .Blocks}}
		<section>
		<div>
			<ul>
				<li>{{.Data}}</li>
				<li>{{.Hash}}</li>
				<li>{{.PrevHash}}</li>
			</ul>
		</div>
		{{end}}
		</section>
	</main>
</body>

</html>
